body {
  background: #111;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: monospace;
}

.calculator {
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #000;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.display {
  background: #333;
  text-align: right;
  padding: 30px 20px;
  font-size: 2.5rem;
  overflow: hidden;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  background-color: #000;
}

.btn {
  border: none;
  padding: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  background: #505050;
  color: white;
}

.btn:active {
  opacity: 0.7;
}

.light-gray {
  background-color: #a5a5a5;
  color: #000;
}

.orange {
  background-color: #ff9f0a;
  color: #fff;
}

.zero {
  grid-column: span 2;
}
